/* NAVBAR STYLING STARTS */
.site-menu-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: teal;
  color: #fff;
}
.site-menu a {
  color: #fff;
}
/* LOGO */
.logo {
  font-size: 32px;
}
/* NAVBAR MENU */
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}
.menu li:hover {
  background-color: #4c9e9e;
  border-radius: 5px;
  transition: 0.3s ease;
}
.menu li {
  padding: 5px 14px;
}
/* DROPDOWN MENU */
.services {
  position: relative;
}
.dropdown {
  background-color: rgb(1, 139, 139);
  padding: 1em 0;
  position: absolute; /*WITH RESPECT TO PARENT*/
  display: none;
  border-radius: 8px;
  top: 35px;
}
.dropdown li + li {
  margin-top: 10px;
}
.dropdown li {
  padding: 0.5em 1em;
  width: 8em;
  text-align: center;
}
.dropdown li:hover {
  background-color: #4c9e9e;
}
.services:hover .dropdown {
  display: block;
}

/* UTILITIES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

body {
  background-color: #023047;
}

h1 {
  font-size: 63px;
  color: #fb8500;
  text-align: center;
}

p {
  color: #ffb703;
}
hr {
  color: #219ebc;
  padding: 5px;
  background-color: #219ebc;
}

/* a:link {
    background-color: #ca6702;
    color: #e5e5e5;
    text-align: center;
    padding: 15px 25px;
    text-decoration: none;
}

a:visited {
    color: #e5e5e5;
    text-decoration: none;

}

a:hover, a:active{
    color:#ffffff;
    text-align: center;
    background-color: black;
}
 */
/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type=checkbox]{
    display: none;
   } 
   /*HAMBURGER MENU*/
   .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
   }
   /* APPLYING MEDIA QUERIES */
   @media (max-width: 768px) {
   .site-menu-nav { 
    display:none;
    position: absolute;
    background-color:#ccd5ae;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
   }
   .site-menu-nav li:hover {
    display: inline-block;
    background-color:#fca311;
    transition: 0.3s ease;
   }
   .site-menu-nav li + li {
    margin-top: 12px;
   }
   input[type=checkbox]:checked ~ .site-menu-nav{
    display: block;
   }
   .hamburger {
    display: block;
   }
   .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
   }
   .dropdown li:hover {
    background-color: #4c9e9e;
   }
   }